[Desktop Entry]
Version=4.0
Name=Start Point
Comment=ChaletOS Start Point
Exec=/opt/extras.ubuntu.com/chaletosstartpoint/startStartPoint.sh
Icon=/opt/extras.ubuntu.com/chaletosstartpoint/startpoint.svg
Terminal=false
Type=Application
Categories=XFCE;GTK;Utility;Settings;DesktopSettings;
StartupNotify=true
OnlyShowIn=XFCE;
X-XfcePluggable=true
