[Desktop Entry]
Version=1.0
Type=Application
Name=My Computer
Comment=
Exec=thunar computer://
Icon=computer
Path=
Terminal=false
StartupNotify=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
